* {
  box-sizing: border-box;
}


#fruit:focus {
background: rgba(23, 190, 126, 0.305);}

body {
 height: 1800px;
  width: 1536px;
  background: rgb(17,96,238);
 
}

.search-container {
  background: linear-gradient(0deg, rgba(17,96,238,1) 0%, rgba(32,227,31,1) 99%);
  height: 800px;
  width:1536px ;
  position: absolute;
  display: block;
  justify-content: center;

}
.search-container input,
.search-container .suggestions {
  display: block;
}
.search-container input {
  background: linear-gradient(0deg, rgba(17,96,238,1) 0%, rgba(32,227,31,1) 99%);
}
.search-container .suggestions {
  background: linear-gradient(0deg, rgba(17,96,238,1) 0%, rgba(32,227,31,1) 99%);
}

ul {
  box-sizing: content-box;
  display:block;
  position: absolute;
  justify-content: center;
  top: 430px;;
  left: 40%;
}

#filterList{
height: fit-content;
}

ul.has-suggestions {
  width: 20px;
  position: relative;
display:flex;
border: 5px black solid;
}

ul{
  border: 3px black solid;
  padding: 0px;
}


ul li {

  width: 200px;
  justify-content: center;
  background-color: rgba(227, 233, 239, 0.936);
font-size: 1.5rem;
position: relative;
display:block;
border-bottom: 2px solid black;
}

ul li:hover {
color:black;
background-color: rgba(0, 0, 255, 0.152);
}

input {
  background-color: transparent;
  display:block;
  position: relative;
  justify-content: center;
  top: 353px;
  left: 36%;
  border: 0.5rem outset rgb(0, 0, 0);
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  background-color: transparent;

  }

